<div
  cdkDropList
  [cdkDropListData]="filterTask"
  id="column-status-container"
  class="w-80 h-5/6"
  (cdkDropListDropped)="drop($event, kanbanStatus)"
>
  <div id="status" class="flex gap-4 items-center">
    <span id="point" class="w-4 h-4 bg-emerald-300 rounded-full"></span>
    <span id="status-name">{{ kanbanStatus }}</span>
  </div>
  <div id="list-of-task" class="flex flex-col gap-5 mt-5">
    <app-kanban-task
      class="cursor-move"
      cdkDrag
      *ngFor="let task of filterTask"
      [kanbanTask]="task"
    ></app-kanban-task>
  </div>
</div>
