<div class="mt-5 text-black dark:text-white">
  <h2 class="text-xl font-semibold mb-4 p-4 pl-8">KANBAN</h2>
  <p class="mb-2 p-2 pl-8 text-sm">ALL BOARDS</p>

  <button
    class="mb-2 p-2 pl-8 bg-[#5a55b9] text-white rounded-r-full w-11/12 text-left flex items-center"
  >
    <mat-icon class="mr-2">assignment</mat-icon> PLatform Launch
  </button>
  <button
    class="mb-2 p-2 pl-8 rounded-r-full w-11/12 text-left flex items-center"
  >
    <mat-icon class="mr-2">account_balance_wallet</mat-icon> Marketing Plan
  </button>
  <button class="mb-2 p-2 pl-8 rounded-r-full w-11/12 text-left">
    <mat-icon class="mr-2">calendar_today</mat-icon> Roadmap
  </button>
</div>
