<div
  id="kanban-task-container"
  class="flex flex-col gap-2 text-black border border-solid border-1 border-sky-700 bg-white py-6 px-4 rounded-lg dark:bg-[#23232d] dark:text-white dark:border-[#23232d]"
>
  <div id="title" class="font-semibold flex justify-between items-center">
    <span>{{ kanbanTask?.title }}</span>
    <span class="w-8 h-8">
      <button
        mat-icon-button
        color="primary"
        (click)="editTaskClicked(kanbanTask)"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </span>
  </div>
  <div id="sub-task" class="text-sm font-bold text-[#6c7483]">
    {{ kanbanTask?.subtasksTrueCount }} of
    {{ kanbanTask?.subtask?.length }} Substasks
  </div>
</div>
