<div class="flex flex-col items-center" [formGroup]="form">
  <h2 mat-dialog-title>{{ tasks.title }}</h2>
  <mat-dialog-content class="mat-typography flex flex-col flex-nowrap">
    <p>{{ tasks.description }}</p>

    <div class="mb-8">
      <h2>Subtask</h2>
      <ng-container formArrayName="subtask">
        <ng-container
          *ngFor="let adminForm of subtasks.controls; let index = index"
        >
          <div [formGroupName]="index" class="flex items-baseline">
            <mat-checkbox
              class="example-margin"
              formControlName="status"
              [appStrikeThrough]="adminForm.get('status')?.value"
            >
              {{ adminForm.get("title")?.value }}
            </mat-checkbox>
          </div>
        </ng-container>
      </ng-container>
    </div>

    <mat-form-field class="w-full">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of kanbanStatus" [value]="status">{{
          status
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="center" class="w-full">
    <button
      mat-raised-button
      color="primary"
      class="w-80"
      (click)="onConfirm()"
      [disabled]="!form.valid"
    >
      Update Task
    </button>
  </mat-dialog-actions>
</div>
